.ReactModal__Content h2.modal-header{
    margin-top: 0rem;
}

.ReactModal__Content .modal-content{
    padding: 0.5rem;
}


@media screen and (max-width: 600px) {
    .product-info {
        margin: 0.2rem;
    }

    .product-info .item {
        display: block;
    }

    .ReactModal__Content{
        padding: 0.5rem;
    }    
} 