.ReactModal__Content h1.modal-header{
    margin-top: 1rem;
}

@media screen and (max-width: 600px) {
    .product-info {
        margin: 0.2rem;
    }


    .product-info .item {
        display: block;
    }

    .ReactModal__Content{
        padding: 0.5rem;
    }    
} 