.dot {
    height: 1rem;
    width: 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: .3rem;
  }

.hover-overlay {
    line-height: 1rem;
    align-items: center;
    display: flex;
}

g.levels g rect{
  fill: none;
}

g.levels g:last-child g rect{
  fill: rgb(142, 141, 141);
}