.time-widget{
    background: rgba(0, 0, 0, 0.39);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 0.3rem 0.3rem 0rem 0.3rem;
    display: flex;
    justify-content: center;
}  
.time-widget.mouse-time{
    color: #808080;
}  

.time-cell{
    display: flex;
    flex-flow: column;
    cursor: pointer;
}
.time-cell.now{
    margin-right: 0.3rem; 
}

.time-cell .indicator{
    height: 0.3rem;
    background: #ebebff;
}

.time-cell:hover .indicator{
    background: #dbdbff;
}

.time-cell.active .indicator{
    background: #adadff;
}

.time-widget .month::after{
    content: "\00a0 ";
}

.time-widget .day::after{
    content: "\00a0 ";
}

.time-widget .year::after{
    content: "\00a0 ";
}