/* .satellite-selector {
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    position: absolute;
    left:0;
    top:0;
    bottom:10px;
    font-size: 14px;
    bottom: 170px;
} */

.ptr-timeline-content {
    width: 100%;
    z-index: 1000;
    line-height: 0.6rem;
    background: #0000003b;
    -webkit-transform: translate3d(0,0,0);
}