.ptr-timeline-content {
	width: 100%;
	line-height: 0.6rem;
}

.ptr-timeline-month > rect {
	fill: #fff;
}
.ptr-timeline-month.odd > rect {
	fill: #f1f1f1;
}
.ptr-timeline-month-label {
	font-size: 0.8rem;
	fill: rgba(0,0,0,.4);
}

.ptr-timeline-day {
	stroke-width: 1;
	stroke: rgba(0,0,0,.2);
}
.ptr-timeline-day.Monday {
	stroke: rgba(0,0,0,.3);
}


.ptr-timeline-hour {
	stroke-width: 1;
	stroke: rgba(0,0,0,.2);
}

.ptr-timeline-year > line {
	stroke-width: 1;
	stroke: rgba(0,0,0,.6);
}
.ptr-timeline-year-label {
	font-size: 0.8rem;
	fill: rgba(0,0,0,.6);
}


/*.ptr-timeline-month.background > rect {*/
	/*fill: #fff;*/
/*}*/
.ptr-timeline-month.background.odd > rect {
	fill: #f9f9f9;
}
.ptr-timeline-day.background {
	stroke: rgba(0,0,0,.07);
}
.ptr-timeline-day.background.Monday {
	stroke: rgba(0,0,0,.1);
}
.ptr-timeline-year.background > line {
	stroke: rgba(0,0,0,.2);
}


.ptr-timeline-layer-period {
	cursor: pointer;
}
.ptr-timeline-layer-period-area {
	fill: rgba(0,0,0,0);
}
.ptr-timeline-layer-period-symbol {
	fill: #6594e2;
}
.ptr-timeline-layer-period-symbol.active {
	fill: #cc0044;
}


.ptr-timeline-mouse > rect {
	fill: rgba(76, 177, 204, .15);
}
.ptr-timeline-mouse > line {
	stroke-width: 1;
	stroke: rgba(76, 177, 204, .7);
}

.ptr-timeline-tooltip {
	position: absolute;
	bottom: 50px;
	left: 0;
	z-index: 50;
	border-radius: 3px;
	background: #fff;
	border: 1px solid rgba(0,0,0,.2);
	font-size: 12px;
	padding: 10px;

	transition:
		height .2s ease-in-out;
}
.ptr-timeline-tooltip-layer {
	margin: 2px 0;
	display: flex;
	width: 100%;
}
.ptr-timeline-tooltip-layer > div {
	flex-grow: 1;
}
.ptr-timeline-tooltip-layer > div:first-child {
	position: relative;
	width: 10px;
	flex-grow: 0;
}
.ptr-timeline-tooltip-layer > div:first-child::before {
	content: ' ';
	position: absolute;
	top: 6px;
	left: 0;
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 2px;
	background: #6594e2;
}
.ptr-timeline-tooltip-layer.active > div:first-child::before {
	background: #cc0044;
}
.ptr-timeline-tooltip-layer-periods {
	color: #666;
	text-align: right;
}