.ReactModal__Content h1.modal-header{
    margin-top: 1rem;
}

.product-info {
    margin: 2rem;
    margin: 2rem;
    display: flex;
    flex-flow: column;
    overflow: visible;
}
.product-info:not(:first-child) {
    border-top: rgb(138, 142, 153) 1px solid;
    padding-top: 2rem;
}

.product-info h1 {
    font-size: 1.25rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.product-info .item {
    display: flex;
}

@media screen and (max-width: 600px) {
    .product-info {
        margin: 0.2rem;
    }


    .product-info .item {
        display: block;
    }

    .ReactModal__Content{
        padding: 0.5rem;
    }    
} 

.ptr-modal-scroolable-content-wrapper{
    position: absolute;
    display: flex;
    flex-flow: column;
    overflow: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}