html {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

.app{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.episode-layout {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vh;
}

.episode-box {
  padding: 0.5rem;
}

.header {
  align-items: center;
  background: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  position: sticky;
  top: 0;
}
.header * {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.timelineWrapper{
  z-index: 100;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.time-widget-wrapper{
  z-index: 99;
}

.time-widget-wrapper.horizontal{
  position: absolute;
  bottom: 45px;
  right: 0px;

  border-top: rgba(123, 123, 123, 0.7) 1px solid;
  border-left: rgba(123, 123, 123, 0.7) 1px solid;
  box-shadow: -0.1rem -0.1rem 0.5rem 0.1rem rgba(123, 123, 123, 0.7)
}

.ptr-timeline-overlay.overlay2 text{
  font-size: 10px;
}