@import '../../../../styles/variables';

.ptr-search-form {
    font-size: $a1;
    display: flex;
    margin-bottom: 1rem;
}

.ptr-search-form-navigation {
    display: flex;
    > div {
        margin-left: 1rem;
    }
}

.ptr-search-form-selects{
    display: flex;

    .ptr-coordinates{

    };

    .ptr-button{
        background: rgba(0, 0, 0, 0);
    }
    .ptr-select__control{
        background: rgba(0, 0, 0, 0);
    }

    .ptr-select-container{
        margin-left: 1rem;
        max-width: 10rem;
    }
}