@import '../../../../styles/variables';

.ptr-search-form {
    font-size: $a1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.ptr-search-form-navigation {
    display: flex;
    > div {
        margin-left: 1rem;
        margin-top: 6px;
    }
}

.ptr-search-form-selects{
    display: flex;
    flex-wrap: wrap;

    > div {
        margin-left: 1rem;
        margin-top: 6px;
    }

    .ptr-coordinates{

    };

    .ptr-button{
        background: rgba(0, 0, 0, 0);

        &.ptr-btn-no-wrap{
            display: flex;
            flex-wrap: nowrap;

            > * {
                white-space: nowrap;
            }
        }
    }
    .ptr-select__control{
        background: rgba(0, 0, 0, 0);
    }

    .ptr-select-container{
        margin-left: 1rem;
        max-width: 10rem;
    }
}